! =============================================================
!| ▓█████▄  ▄▄▄    ██▒   █▓ ██▓▓█████▄                        |
!| ▒██▀ ██▌▒████▄ ▓██░   █▒▓██▒▒██▀ ██▌   +-+-+-+-+-+-+-+-+   |
!| ░██   █▌▒██  ▀█▄▓██  █▒░▒██▒░██   █▌  <|D|O|T|F|I|L|E|S|>  |
!| ░▓█▄   ▌░██▄▄▄▄██▒██ █░░░██░░▓█▄   ▌   +-+-+-+-+-+-+-+-+   |
!| ░▒████▓  ▓█   ▓██▒▒▀█░  ░██░░▒████▓                        |
!|  ▒▒▓  ▒  ▒▒   ▓▒█░░ ▐░  ░▓   ▒▒▓  ▒                        |
!|  ░ ▒  ▒   ▒   ▒▒ ░░ ░░   ▒ ░ ░ ▒  ▒                        |
!|  ░ ░  ░   ░   ▒     ░░   ▒ ░ ░ ░  ░                        |
!|    ░          ░  ░   ░   ░     ░                           |
!|  ░                  ░        ░                             |
!|  ███▄ ▄███▓ ▒█████   ██▀███  ▓█████  ██▓ ██▀███   ▄▄▄      |
!| ▓██▒▀█▀ ██▒▒██▒  ██▒▓██ ▒ ██▒▓█   ▀ ▓██▒▓██ ▒ ██▒▒████▄    |
!| ▓██    ▓██░▒██░  ██▒▓██ ░▄█ ▒▒███   ▒██▒▓██ ░▄█ ▒▒██  ▀█▄  |
!| ▒██    ▒██ ▒██   ██░▒██▀▀█▄  ▒▓█  ▄ ░██░▒██▀▀█▄  ░██▄▄▄▄██ |
!| ▒██▒   ░██▒░ ████▓▒░░██▓ ▒██▒░▒████▒░██░░██▓ ▒██▒ ▓█   ▓██▒|
!| ░ ▒░   ░  ░░ ▒░▒░▒░ ░ ▒▓ ░▒▓░░░ ▒░ ░░▓  ░ ▒▓ ░▒▓░ ▒▒   ▓▒█░|
!| ░  ░      ░  ░ ▒ ▒░   ░▒ ░ ▒░ ░ ░  ░ ▒ ░  ░▒ ░ ▒░  ▒   ▒▒ ░|
!| ░      ░   ░ ░ ░ ▒    ░░   ░    ░    ▒ ░  ░░   ░   ░   ▒   |
!|        ░       ░ ░     ░        ░  ░ ░     ░           ░  ░|
!|============================================================= 

!! URxvt
URxvt.font: xft:Hack:style=Regular:size=8
URxvt.boldFont: xft:Hack:style=Bold:size=8
URxvt.italicFont: xft:Hack:style=Italic:size=8
URxvt.boldItalicfont: xft:Hack:style=Bold Italic:size=8
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.geometry: 76x21
!URxvt.internalBorder: 24
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
!URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depth: 24
URxvt.iso14755: false

! special
*.foreground:   #ffdbb0
*.background:   #060a0c
*.cursorColor:  #ffdbb0

! black
*.color0:       #060a0c
*.color8:       #0d161b

! red
*.color1:       #fe5e41
*.color9:       #fe7f69

! green
*.color2:       #b1cc72
*.color10:      #c0d68d

! yellow
*.color3:       #ffac54
*.color11:      #ffbc74

! blue
*.color4:       #72c2d6
*.color12:      #8dcede

! magenta
*.color5:       #ed7782
*.color13:      #f1939c

! cyan
*.color6:       #8dd1b9
*.color14:      #a2dac6

! white
*.color7:       #d9bb96
*.color15:      #ffdbb0
