configuration{
    modi: "run,drun,window";
    lines: 5;
    font: "JetBrainsMono Nerd Font Bold 10";
    terminal: "st";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: " Programs ";
}

@theme "/home/anon/.config/rofi/orange.rasi"
